<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.return_reminder_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.return_reminder_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.cancel_email.rental_summary') %>
      </p>
      <table>
        <% @order.line_items.rentable.each do |item| %>
          <tr>
            <td><%= item.quantity %> x <%= item.variant.sku %></td>
            <td>
              <%= raw(item.variant.product.name) %>
              <%= raw(item.variant.options_text) -%>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>
